# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.db

# VS Code settings
.vscode/

# Environment variables
.env

# Node modules
node_modules/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
